<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head th:include="_template :: head">
  <link rel="stylesheet" href="../../styles.css">
  <link rel="stylesheet" href="../../css/onboarding/login.css">
  <title>Entrar</title>
</head>
<body>
  <div class="page-container">
    <div class="login-container margin">
      <div class="login-header">
        <div class="login-title">
          <h2 style="margin-bottom: 10px;">Acessar</h2>
          <p>Insira as credenciais da sua ONG</p>
        </div>
        <form action="../home/ong.html" method="">
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Senha</label>
            <input type="password" class="form-control" id="exampleInputPassword1">
          </div>
          <button type="submit" class="btn btn-success">Entrar</button>
          <a href="./registration.html" type="submit" class="btn btn-outline-success">Cadastrar ONG</a>
        </form>
      </div>

      <div class="login-link">
        <a href="../../index.html">Voltar para a tela inicial</a>
      </div>
    </div>

    <div class="background">
      <img src="../../assests/login-image2.jpg" alt="Image of some food">
    </div>
  </div>
</body>
</html>