<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head th:include="_templateLogin :: login"></head>
<body>
  <div class="page-container">
    <div class="login-container margin">
      <div class="login-header">
        <div class="login-title">
          <h2 style="margin-bottom: 10px;">Acessar</h2>
          <p>Insira as credenciais da sua ONG</p>
        </div>
        <form th:action="@{/login}" method="post">
          <div class="mb-3">
            <label class="form-label"  for="username" >Email</label>
            <input class="form-control" type="email" id="username" name="username" aria-describedby="emailHelp">
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Senha</label>
            <input class="form-control" type="password" id="password" name="password">
          </div>
          <button type="submit" class="btn btn-success">Entrar</button>
          <a href="registration" type="submit" class="btn btn-outline-success">Cadastrar ONG</a>
        </form>
      </div>

      <span th:if="${param.error}" class="alert error">Login inválido</span>

      <div class="login-link">
        <a href="index">Voltar para a tela inicial</a>
      </div>
    </div>

    <div class="background">
      <img th:src="@{/images/login-image2.jpg}" alt="Image of some food"/>
    </div>
  </div>
</body>
</html>