<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head th:include="_template :: head">
  <link rel="stylesheet" href="../../styles.css">
  <link rel="stylesheet" href="../../css/onboarding/registration.css">
  <title>Cadastro</title>
</head>
<body>
  <header th:include="_template :: header"></header>

  <!-- <div class="registration-background">
    <h4 class="registration-title">Cadastrar ONG</h4>
  </div> -->
  <div class="registration-background"></div>
  <h4 class="registration-title">Cadastrar ONG</h4>

  <div class="form-container margin">
    <form>
      <!-- ONG Data -->
      <p class="ong-data-subtitle">Informações da ONG</p>
      <div class="ong-data">
        <div class="input-container" style="margin-left: 0;">
          <!-- ONG Name -->
          <div class="mb-3">
            <label for="nameInput" class="form-label">Nome da ONG</label>
            <input type="text" class="form-control" id="nameInput" aria-describedby="textHelp" required>
          </div>

          <!-- Email -->
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" required>
          </div>

          <!-- CNPJ -->
          <div class="mb-3">
            <label for="cnpjInput" class="form-label">CNPJ</label>
            <input type="number" class="form-control" id="cnpjInput" aria-describedby="cnpjHelp" required>
          </div>
        </div>

        <div class="input-container">
          <!-- Password -->
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Senha</label>
            <input type="password" class="form-control" id="exampleInputPassword1" required>
          </div>

          <!-- ConfirmPassword -->
          <div class="mb-3">
            <label for="exampleInputPassword2" class="form-label">Confirme sua senha</label>
            <input type="password" class="form-control" id="exampleInputPassword2" required>
          </div>

          <!-- Site link -->
          <div class="mb-3">
            <label for="siteInput" class="form-label">Link do site</label>
            <input type="text" class="form-control" id="siteInput" aria-describedby="cnpjHelp">
          </div>
        </div>


        <div class="input-container"  style="margin-right: 0;">
          <!-- ONG description -->
          <div class="mb-3">
            <label for="descriptionTextarea" class="form-label">Texto de apresentação da ONG</label>
            <textarea class="form-control" id="descriptionTextarea" required></textarea>
          </div>

          <!-- Photo -->
          <div class="mb-3">
            <label for="photoFile" class="form-label">Carregar foto</label>
            <input type="file" class="form-control" id="photoFile" aria-describedby="inputGroupFileAddon04" aria-label="Upload">
          </div>
        </div>
      </div>

      <!-- ONG Bank Data -->
      <p class="ong-data-subtitle" style="margin-top: 20px;">Dados Bancários</p>
      <div class="ong-bank-data">
        <!-- Bank -->
        <div class="mb-3 input-container" style="margin-left: 0;">
          <label class="form-label" for="inputGroupSelect01">Bancos</label>
          <select class="form-select" id="inputGroupSelect01">
            <option selected>Selecione...</option>
            <option value="1">Banco Bradesco</option>
            <option value="2">Banco Itaú</option>
            <option value="3">Banco Santander</option>
          </select>
        </div>

        <!-- Agency -->
        <div class="mb-3 input-container">
          <label for="agencyInput" class="form-label">Agência</label>
          <input type="number" class="form-control" id="agencyInput">
        </div>

        <div class="mb-3 input-container" style="margin-right: 0;">
          <label for="agencyInput" class="form-label">Conta</label>
          <input type="number" class="form-control" id="agencyInput">
        </div>
      </div>
      <button type="submit" class="btn btn-success btn-registration">Cadastrar</button>
    </form>
  </div>
</body>
</html>