<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head th:include="__template :: head">
  <link rel="stylesheet"  href="./styles.css">
  <link rel="stylesheet" th:href="@{~/css/index.css}">
  <title>Alimente-se Bem</title>
</head>
<body>
  <header>
    <div class="header-container">
      <div class="header-first-section">
        <!-- <img src="./assests/logo.png" class="logo" alt="Linc Tech Logo"/> -->
        <a href="">
          <!-- <p class="title">AlimenteseBem</p> -->
          <p class="title">ONGsUnidas</p>
        </a>
      </div>
      <div class="header-second-section">
        <ul>
          <li>
            <a href="">Início</a>
          </li>
          <li>
            <a href="./pages/donate/donate.html">ONGs</a>
          </li>
        </ul>
        <a href="./pages/onboarding/login.html" class="btn btn-success">Entrar</a>
      </div>
    </div>
  </header>

  <div class="black-filter"></div>

  <div class="video" id="video">
    <video src="./assests/video3.mp4" preload="auto" autoplay muted loop></video>
  </div>

  <div class="main-container margin">
    <div class="large-title-section">
      <div class="large-title-box">
        <h1 class="large-title">
          Faça o bem também e doe de coração!
          <br>
          A sua doação pode ajudar outras famílias a colocarem
          comida na mesa.
        </h1>
      </div>

      <div class="buttons">
        <a href="./pages/donate/donate.html" class="btn btn-success btn-margin">QUERO DOAR</a>
        <a href="./pages/onboarding/registration.html" class="btn btn-outline-light">QUERO RECEBER</a>
      </div>
    </div>
  </div>
  <div class="company-logo margin">
    <div>
      <img src="assests/logo.png" alt="Linc Tech Logo">
    </div>
  </div>
</body>
</html>