<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head th:include="_template :: head">
  <!--<link rel="stylesheet" th:href="@{./css/index.css}">-->
  <title>Alimente-se Bem</title>
</head>
<body>
  <header th:include="_template :: header"></header>

  <div class="black-filter"></div>

  <div class="video" id="video">
    <video th:src="@{/images/video3.mp4}" preload="auto" autoplay muted loop></video>
  </div>

  <div class="main-container margin">
    <div class="large-title-section">
      <div class="large-title-box">
        <h1 class="large-title">
          Faça o bem também e doe de coração!
          <br>
          A sua doação pode ajudar outras famílias a colocarem
          comida na mesa.
        </h1>
      </div>

      <div class="buttons">
        <a href="ongs" class="btn btn-success btn-margin">QUERO DOAR</a>
        <a href="registration" class="btn btn-outline-light">QUERO RECEBER</a>
      </div>
    </div>
  </div>
  <div class="company-logo margin">
    <div>
      <img th:src="@{/images/logo.png}" alt="Linc Tech Logo"/>
    </div>
  </div>
</body>
</html>