<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head th:include="_templateDonations2 :: donations2">
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
	crossorigin="anonymous">

<title>Doações</title>
</head>
<body>
	<header th:include="_templateDonations2 :: header"></header>

	<div class="registration-background"></div>

	<div class="donations-conatiner margin">
		<h4 class="donation-title">Suas Doações Pendentes</h4>

		<div>
			<div class="single-donation-container">
				<div class="single-donation-container-first-child" th:each="doacao : ${doacoes}" th:if="${doacao.pending}">
					<div class="colum-single-donation">

						<!-- Doador -->
						<div class="donation-row">
							<div class="row">
								<p>Doador</p>
							</div>
							<div>
								<p th:text="${doacao.donator.name}"></p>
							</div>
						</div>


						<!-- CPF -->
						<div class="donation-row">
							<div class="row">
								<p>CPF</p>
							</div>
							<div>
								<p th:text="${doacao.donator.cpf}"></p>
							</div>
						</div>

						<!-- Email -->
						<div class="donation-row">
							<div class="row">
								<p>Email</p>
							</div>
							<div>
								<p th:text="${doacao.donator.email}"></p>
							</div>
						</div>

					</div>
						<div class="colum-single-donation donation-value-container">
							<div class="row">
								<p>Valor</p>
							</div>
							<div class="dontaion-value">
								<p th:text="${doacao.value}"></p>
							</div>
						</div>



					<!-- Buttons -->
					<div class="donation-buttons">
						<div id="btn-donation">
							<a th:attr="data-target='#modal'+${doacao.ong.cnpj}" th:href="${doacao.id}" class="btn btn-success" data-bs-toggle="modal"
								th:data-bs-target="${'#modal' + doacao.ong.cnpj}" data-row="${doacao}">Confirmar Doação</a>
						</div>
						<div id="btn-decline">
							<a th:attr="data-target='#modal-decline'+${doacao.id}" th:href="${doacao.id}" class="btn btn-danger" data-bs-toggle="modal"
								th:data-bs-target="${'#modal-decline' + doacao.id}" data-row="${doacao}">Declinar</a>

						</div>
					</div>
					<!-- Modal Confirm-->
					<div class="modal fade" th:id="${'modal' + doacao.ong.cnpj}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-body">
									<p>Você tem certeza que deseja confirmar essa doação?</p>
									<div class="modal-buttons">
										<div class="modal-btn">
											<button type="button" class="btn btn-outline-dark"
												data-bs-dismiss="modal" id="btn-cancel">Cancelar</button>
										</div>
										<div class="modal-btn">
											<a type="button" class="btn btn-success" th:href="@{'/ong/statusDonation=true&idDonation=' + ${doacao.id}}">Confirmar</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<!-- Modal Decline -->
					<div class="modal fade" th:id="${'modal-decline' + doacao.id}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-body">
									<p>Você tem certeza que deseja declinar essa doação?</p>
									<div class="modal-buttons">
										<div class="modal-btn">
											<button type="button" class="btn btn-outline-dark"
												data-bs-dismiss="modal" id="btn-cancel-decline">Cancelar</button>
										</div>
										<div class="modal-btn">
											<a type="button" class="btn btn-success" th:href="@{'/ong/statusDonation=false&idDonation=' + ${doacao.id}}">Declinar</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>


				</div>
				<hr>
			</div>
			<hr>
		</div>

	</div>
	<script
		src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
		integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
		crossorigin="anonymous"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
		integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
		crossorigin="anonymous"></script>
</body>
</html>